In [1]:
import pandas as pd

In [2]:
src_path = '../../data/raw_data/'
dst_path = '../../data/processed_data/'

In [3]:
df = pd.read_csv('../../data/raw_data/raw.csv')
df.head()

,date,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,silica_concentrate
0,2017-04-24 00:00:00,300.263166,383.982443,55.17,1979.589150,599.676489,400.017222,9.774028,1.753206,4.360000
1,2017-04-24 01:00:00,299.782402,386.049069,55.17,1758.466329,600.043100,400.484528,9.539246,1.754190,3.290000
2,2017-04-24 02:00:00,299.750052,385.250935,55.17,2379.752428,599.948406,400.325617,9.434227,1.756873,4.900000
3,2017-04-24 03:00:00,299.997522,389.635519,55.17,2287.130046,599.580383,399.801506,9.725607,1.727125,4.860153
4,2017-04-24 04:00:00,300.005220,387.810807,55.17,2291.789167,599.871217,399.567333,9.845198,1.633063,4.780898

In [4]:
y_train = pd.read_csv(dst_path + 'y_train.csv')
print("y_train shape:", y_train.shape)

y_test = pd.read_csv(dst_path + 'y_test.csv')
print("y_test shape:", y_test.shape)

X_train = pd.read_csv(dst_path + 'X_train.csv')
print("X_train shape:", X_train.shape)

X_test = pd.read_csv(dst_path + 'X_test.csv')
print("X_test shape:", X_test.shape)

y_train shape: (1453, 1)
y_test shape: (364, 1)
X_train shape: (1453, 12)
X_test shape: (364, 12)

In [5]:
X_train.head()

,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,year,month,day,dayofweek
0,283.249788,371.504709,52.61,1377.723930,532.349411,399.775294,9.980124,1.754136,2017,5,10,2
1,283.484967,450.359552,52.25,4751.441833,565.239811,399.653050,10.384877,1.687133,2017,7,7,4
2,283.315531,566.688556,49.35,2848.397889,357.669117,399.706589,10.149492,1.624664,2017,7,13,3
3,283.283699,317.947923,52.61,3906.382833,503.500844,401.137750,9.738740,1.729456,2017,5,11,3
4,300.013755,499.279128,57.46,3099.747623,559.552975,398.994144,10.236663,1.719852,2017,7,26,2

In [7]:
X_train_scaled = pd.read_csv(dst_path + 'X_train_scaled.csv')
print("X_train_scaled shape:", X_train_scaled.shape)
X_train_scaled.head()

X_train_scaled shape: (1453, 12)

,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,year,month,day,dayofweek
0,0.031010,0.153083,0.412316,0.189369,0.585209,0.503025,0.600731,0.826511,0.0,0.2,0.300000,0.333333
1,0.043608,0.339496,0.396252,0.843892,0.668547,0.485170,0.808431,0.559285,0.0,0.6,0.200000,0.666667
2,0.034531,0.614498,0.266845,0.474689,0.142599,0.492990,0.687643,0.310139,0.0,0.6,0.400000,0.500000
3,0.032826,0.026474,0.412316,0.679945,0.512111,0.702032,0.476864,0.728082,0.0,0.2,0.333333,0.500000
4,0.929028,0.455142,0.628737,0.523453,0.654138,0.388927,0.732375,0.689778,0.0,0.6,0.833333,0.333333